/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*************************Begin General Styling*************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.form-module {
    /*Align all text child elements within main-content to be centered*/
    text-align: center;
}


/*************************End General Styling*************************/


/*************************Begin Logo Styling*************************/

.logo {
    padding: 20px 0;
    display: block;
    text-align: center;
}

.logo span {
    font-size: 40px;
    letter-spacing: 2px;
}

#logo-test-shadow {
    color: #fff;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

.logo-inner {
    padding: 20px 20px;
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
}

.logo-inner span {
    font-size: 20px;
}


/*************************End Logo Styling*************************/


/*************************Begin Form Styling*************************/

.banner p {
    font-family: 'Raleway', sans-serif;
    /*Overrides overall font set in body*/
    font-size: 25px;
}

.banner div {
    margin-top: 2em;
    /**/
}

.banner div img {
    height: 150px;
    width: 150px;
}

form {
    margin: 2em auto;
    width: 400px;
    border: 1px solid #ebebeb;
    background: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px 20px;
}

form p {
    margin-top: 20px;
}

form a {
    text-decoration: none;
}

form button a {
    color: #fff;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    color: #636363;
    width: 90%;
    margin: 20px auto;
}

button {
    position: relative;
    display: block;
    padding: 12px 24px;
    width: 90%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: crimson;
    border: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 0 auto;
}

button:hover {
    background: #F1543F;
}

button a {
    display: block;
}


/*************************End Form Styling/*************************/


/*************************Begin Student Page Styling/*************************/

#side-bar {
    position: fixed;
    background-color: #353942;
    color: #fff;
    width: 180px;
    height: 100vh;
    z-index: 5;
}

#side-bar {
    list-style-type: none;
    margin-top: 76px;
    font-weight: 600;
    height: 100vh;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
}

#side-bar li {
    position: relative;
    padding: 20px 20px;
    list-style: none;
    /*text-align: center;*/
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#side-bar li img {
    position: absolute;
    /*display: inline-block;*/
    height: 25px;
    width: 25px;
    left: 13px;
    top: 15px;
    /*margin: 20px 0 0 0;*/
    /*display: none;*/
}

#side-bar li span{
  display: inline-block;
  margin-left: 30px;
}

#side-bar a {
    display: block;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    transition: linear 500ms;
    -webkit-transition: ease-in 500ms;
}

#side-bar ul li:hover {
    background-color: #2b2e31;
    cursor: pointer;
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
}

#main-header header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 4;
}

#main-header header {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 6;
    /*border-bottom: 1px solid #d9e2e7;*/
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}

#main-header header p {
    display: inline-block;
    width: 180px;
    padding: 20px 10px;
    background: crimson;
    color: white;
}

#main-header header a img {
    display: inline-block;
    margin-top: 8px;
    margin-right: 5px;
    height: 60px;
    width: 60px;
    float: right;
}

#menu-toggle {
    display: inline-block;
    display: none;
    height: 30px;
    width: 30px;
    margin-top: 24px;
    margin-left: 10px;
}

#main-content {
    position: absolute;
    width: auto;
    right: 0;
    left: 180px;
    background: #fff;
    top: 76px;
    padding: 20px 20px;
}

.background-banner {
    width: 100%;
    height: 130px;
    background-color: crimson;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);*/
}

.profile-position {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
}

.circle span img {
    width: 100%;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
}

.content .col-6 {
    text-align: center;
    margin-top: 100px;
}

.content .col-6 h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.content .col-6:first-of-type {
    border-right: 1px solid black;
}

.content .col-6 div {
    margin-top: 100px;
    font-size: 100px;
    color: #23AE89;
}


/*************************End Student Page Styling/*************************/


/*************************Begin Grid Styling/*************************/

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*************************End Grid Styling/*************************/


/*************************Begin Media Queries/*************************/

@media only screen and (max-width: 768px) {
    #side-bar {
        width: 80px;
    }
    #side-bar li  {
      text-align: center;
    }
    #side-bar li img {
        position: static;
        display: inline-block;
    }
    #side-bar li span {
        font-size: 10px;
        margin:0;
    }
    #main-content {
        left: 80px;
    }
    .background-banner {
        height: 80px;
    }
    .profile-position {
        top: 100px;
    }
    .circle {
        height: 110px;
        width: 110px;
    }
    .content .col-6 h1 {
        font-size: 20px;
    }
    .content .col-6 div {
        margin-top: 30px;
        font-size: 80px;
    }
}

@media only screen and (max-width: 600px) {
    /*Begin queries for form page*/
    .banner div img {
        display: none;
    }
    .logo span {
        font-size: 30px;
    }
    .banner p {
        font-size: 20px;
    }
    .banner div img {
        width: 30%;
        height: 30%;
    }
    form {
        width: 80%;
        margin: 1em auto;
    }
    /*End queries for form page*/
    #main-header header {
        height: 76px;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #main-header header p {
        display: none;
    }
    #menu-toggle {
        display: inline-block;
    }
    #side-bar {
        width: 100%;
        display: none;
        color: black;
    }
    #side-bar li img {
        position: absolute;
        height: 25px;
        width: 25px;
        left: 40px;
        top: 15px;
    }
    #side-bar li span {
        display: inline-block;
    }
    #main-content {
        left: 0;
    }
    .background-banner {
        height: 60px;
    }
    .profile-position {
        top: 80px;
    }
    .circle {
        height: 90px;
        width: 90px;
    }
    .content .col-6 h1 {
        font-size: 20px;
    }
    .content .col-6 div {
        margin-top: 20px;
        font-size: 60px;
    }
}


/*************************End Media Queries/*************************/
