/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*************************Begin General Styling*************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.form-module {
    /*Align all text child elements within main-content to be centered*/
    text-align: center;
}


/*************************End General Styling*************************/


/*************************Begin Logo Styling*************************/

.logo {
    padding: 20px 0;
    display: block;
    text-align: center;
}

.logo span {
    font-size: 40px;
    letter-spacing: 2px;
}

#logo-test-shadow {
    color: #fff;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

.logo-inner {
    padding: 20px 20px;
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
}

.logo-inner span {
    font-size: 20px;
}


/*************************End Logo Styling*************************/


/*************************Begin Form Styling*************************/

.banner p {
    font-family: 'Raleway', sans-serif;
    /*Overrides overall font set in body*/
    font-size: 25px;
}

.banner div {
    margin-top: 2em;
    /**/
}

.banner div img {
    height: 150px;
    width: 150px;
}

form {
    margin: 2em auto;
    width: 400px;
    border: 1px solid #ebebeb;
    background: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px 20px;
}

form p {
    margin-top: 20px;
}

form a {
    text-decoration: none;
}

form button a {
    color: #fff;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    color: #636363;
    width: 90%;
    margin: 20px auto;
}

button {
    position: relative;
    display: block;
    padding: 12px 24px;
    width: 90%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: crimson;
    border: 0;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 0 auto;
}

button:hover {
    background: #F1543F;
}

button a {
  display: block;
}


/*************************End Form Styling/*************************/


/*************************Begin Student Page Styling/*************************/

#side-bar {
    position: fixed;
    background-color: #353942;
    color: #fff;
    width: 180px;
    height: 100vh;
    z-index: 5;
}

#side-bar {
    list-style-type: none;
    /*padding: 12px;*/
    margin-top: 76px;
    font-weight: 600;
    height: 100vh;
}

#side-bar li {
    padding: 20px 20px;
    /*border-bottom: 1px solid #ebebeb;*/
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

#side-bar a {
  display: block;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

#side-bar ul li:hover {
    background-color: #2b2e31;
    cursor: pointer;
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
}

#main-header header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 4;
}

#main-header header {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 6;
    /*border-bottom: 1px solid #d9e2e7;*/
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}

#main-header header p {
    display: inline-block;
    width: 180px;
    padding: 20px 10px;
    background: crimson;
    color: white;
}

#main-header header img {
    display: inline-block;
    margin-top: 8px;
    margin-right: 5px;
    height: 60px;
    width: 60px;
    float: right;
}

#main-content {
    position: absolute;
    width: auto;
    right: 0;
    left: 180px;
    background: #fff;
    top: 76px;
    padding: 20px 20px;
}

#main-content .col-12 img {}


/*************************End Student Page Styling/*************************/


/*************************Begin Grid Styling/*************************/

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*************************End Grid Styling/*************************/


/*************************Begin Media Queries/*************************/

@media only screen and (max-width: 500px) {
    #side-bar {
        width: 100%;
        display: none;
    }
    #main-content {
        left: 0;
    }
}

@media only screen and (max-width: 600px) {
    /*Begin queries for form page*/
    .banner div img {
      display: none;
    }
    .logo span {
        font-size: 30px;
    }
    .banner p {
        font-size: 20px;
    }
    .banner div img {
        width: 30%;
        height: 30%;
    }
    form {
        width: 80%;
        margin: 1em auto;
    }
    /*End queries for form page*/
}

@media only screen and (max-width: 768px) {
    #side-bar, .user-banner {
        width: 80px;
    }
    #main-content {
        left: 80px;
    }
}


/*************************End Media Queries/*************************/
